body, html {
width: 100%;
height: 100%;
margin: 0;
}
.topnav {
background-color: #247023;
height: 10%;
display: flex;
justify-content: left;
margin-bottom: 1%;
}
input {
margin-bottom: 1%;
}
a {
font-size: 250%;
height: 100%;
display: flex;
align-items: center;
padding-left: 1%;
padding-right: 1%;
transition: background-color 0.7s;
}
a:hover {
background-color: #2db82a;
}
.logout {
margin-left: auto;
}
table {
width: 25%;
border-collapse: collapse;
}
th, td {
border: 1px solid;
}