body, html {
width: 100%;
height: 100%;
margin: 0;
}
.topnav {
background-color: #247023;
height: 10%;
display: flex;
justify-content: left;
margin-bottom: 1%;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.input-search {
font-size: 19px;
border: 2px solid;
border-radius: 7px;
background: #f1f1f1;
}
a {
font-size: 250%;
height: 100%;
display: flex;
align-items: center;
padding-left: 1%;
padding-right: 1%;
transition: background-color 0.7s;
}
a:hover {
background-color: #2db82a;
}
.logout {
margin-left: auto;
}
table {
font-size: 23px;
width: 40%;
border-collapse: collapse;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
th, td {
border: 2px solid;
}
th {
background: #7ec280;
}
.instruments {
display: flex;
align-items: center;
margin-bottom: 1%;
}
button.search {
margin-left: 0.5%;
font-size: 19px;
border: 1px solid   ;
border-radius: 7px;
}
.row:hover {
background-color: #adbdac;
}
button.add-occupant {
margin-left: 0.5%;
font-size: 19px;
}