<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница бухгалтера</title>
    <link rel="stylesheet" href="/static/style-komendant-page.css">

</head>
<body>
<div class = "topnav" >
    <a id = "a1">История платежей</a>
    <a id = "a2">История изменения цен</a>
    <a id = "a3">Жильцы</a>
    <a class = "logout">Выйти</a></div>
<div class = "instruments" id = "instruments_div">

</div>
<div class = "work_area" id = "work_area">
    <table id = "table">


    </table>
    <form class = "update" id = "insert_form">

        </form>
</div>
<script src = "../static/accountant-script.js" defer></script>
</body>
</html>