<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница коменданта</title>
    <link rel="stylesheet" href="/static/style-komendant-page.css">

</head>
<body>
<div class = "topnav" ><a>Жильцы</a> <a>Комнаты</a><a>Мебель</a><a class = "logout">Выйти</a></div>
<div class = "search"><input type = "text" placeholder="ФИО"> <button class = "button-search">Поиск</button></div>
<table>
    <tr><th>ФИО</th><th>Фото</th><th>Год рождения</th><th>Телефон</th><th>Комната проживания</th><th>Дата заселения</th></tr>
</table>
<script src = "../static/script.js" defer></script>
</body>
</html>