<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница коменданта</title>
    <link rel="stylesheet" href="/static/style-komendant-page.css">

</head>
<body>
<div class = "topnav" >
    <a id = "a1">Жильцы</a>
    <a id = "a2">Комнаты</a>
    <a id = "a3">Мебель</a>
    <a class = "logout">Выйти</a></div>
<div class = "instruments">
    <input type = "text" placeholder="ФИО" class = "input-search">
    <button class = "search">Поиск</button>
    <button class = "add-occupant" id = "add-occupant-button">Добавить нового жильца</button>
</div>
<table id = "table">
</table>
<script src = "../static/script.js" defer></script>
</body>
</html>